{% assign js_files_str = '' -%}
{% assign js_files_str = js_files_str | append: 'highlight,' -%}
{% assign js_files_str = js_files_str | append: 'languages/bash,' -%}
{% assign js_files_str = js_files_str | append: 'languages/css,' -%}
{% assign js_files_str = js_files_str | append: 'languages/diff,' -%}
{% assign js_files_str = js_files_str | append: 'languages/dos,' -%}
{% assign js_files_str = js_files_str | append: 'languages/ebnf,' -%}
{% assign js_files_str = js_files_str | append: 'languages/javascript,' -%}
{% assign js_files_str = js_files_str | append: 'languages/json,' -%}
{% assign js_files_str = js_files_str | append: 'languages/markdown,' -%}
{% assign js_files_str = js_files_str | append: 'languages/maxscript,' -%}
{% assign js_files_str = js_files_str | append: 'languages/mel,' -%}
{% assign js_files_str = js_files_str | append: 'languages/plaintext,' -%}
{% assign js_files_str = js_files_str | append: 'languages/powershell,' -%}
{% assign js_files_str = js_files_str | append: 'languages/properties,' -%}
{% assign js_files_str = js_files_str | append: 'languages/python,' -%}
{% assign js_files_str = js_files_str | append: 'languages/xml,' -%}
{% assign js_files_str = js_files_str | append: 'kb,' -%}
{% assign js_files_str = js_files_str | append: 'init-main' -%}
{% assign js_files = js_files_str | split: ',' -%}
{% if site.use_minjs -%}
{% assign js_ext = '.min.js' -%}
{% else -%}
{% assign js_ext = '.js' -%}
{% endif -%}
{% for js_file in js_files -%}
<script src="{{ '/assets/js/' | append: js_file | append: js_ext | relative_url }}"></script>
{% endfor -%}
